name: backend

on:
  pull_request:
    paths:
      - "backend/**"
      - ".github/workflows/backend.yaml"

jobs:
  build:
    defaults:
      run: 
        working-directory: backend
    runs-on: ubuntu-latest
  
  steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies with pipenv
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
    - name: Run Tests
      run: |
        pipenv run python manage.py test